{
    "last_read": "2025-01-19T05:54:16.490951+00:00",
    "feed_subscribers": [
        {
            "feed_name": "democracynow",
            "feed_url": "https://www.democracynow.org/democracynow.rss",
            "subscribing_channels": [
                1328225114440863815
            ]
        }
    ]
}